

.float-container {
   border: 1px solid #fff;
    padding: 12px;
    background-color:cornflowerblue;
}

.float-child {
    width: 50%;
    float: left;
    padding: 9px;
   /* border: 1px solid coral;*/
}

.float-child_V_left {
    width: 70%;
    float: left;
    padding: 9px;
   /* border: 1px solid coral;*/
}
.float-child_V_right {
    width: 30%;
    float: left;
    padding: 9px;
   /* border: 1px solid coral;*/
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkcyan;
    text-underline-position: auto;
    text-decoration: underline;
  }

  body
  {
background-color: lightblue;


  }