

.float-container{
   border: 1px solid coral;

   border-radius: 1rem;
    padding: 12px;

    margin: 10 PX;

    height: 500px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 9px;
    margin: auto;
   border: 1px solid blue;
   height: 450px;
}

.float-child_V_left {
    width: 70%;
    float: left;
    padding: 9px;
   /* border: 1px solid coral;*/
}
.float-child_V_right {
    width: 30%;
    float: left;
    padding: 9px;
   /* border: 1px solid coral;*/
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkcyan;
    text-underline-position: auto;
    text-decoration: underline;
 
  }

